<h1 class="text-center mt-4"><%= @user.username %>'s Profile</h1>

<div class="text-center mt-4">
  <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
</div>

<h3 class="text-center mt-4">Your Articles</h3>

<div class="flickr-pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%if @user.articles.count > 0 %>
  <%= render 'articles/article' %>
<% else %>
  <div class="text-center mt-4">
    <%= link_to "Create new article", new_article_path, class: "btn btn-outline-success btn-lg" %>
  </div>
<% end %>

<div class="flickr-pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>